/* SignUpPage.css */

.signup-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../assets/background.jpg') center center / cover no-repeat;
}

.signup-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.signup-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: #0f0e0ee6;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #ff3333;
}

.error-message {
  color: #ff3333;
  font-size: 14px;
  margin-top: 10px;
}

/* Optional styles for links or additional elements */
.terms {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
}

.terms a {
  color: #0073e6;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.have-account {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.have-account a {
  color: #0073e6;
  text-decoration: none;
}

.have-account a:hover {
  text-decoration: underline;
}
